.container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
}

.products {
    background-color: lightcoral;
}

.main {
    background-color: lightgray;
    text-align: center;
    padding: 8px;
}